@import '../../sass/abstract/variables';

.container {
  height: 100vh;
  width: 100%;
  text-align: center;
  background-image: linear-gradient(to top, rgba($color-tertiary, 0.7), rgba($color-primary, 0.5)),
    url(../../img/construction-bg.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  display: table;
  vertical-align: center;

  .logoContainer {
    margin-bottom: 20px;

    .logo {
      margin-top: 80px;
      width: 100%;
      max-width: 300px;
      height: auto;
    }
  }

  .headline {
    font-size: 3.5rem;
  }

  .slogan {
    font-size: 2rem;
    justify-self: center;
    margin: 20px 0;
    justify-self: center;
  }

  .buttons {
    position: absolute;
    width: 100%;
    bottom: 50px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      flex: 1;
      max-width: 55px;
      color: $color-primary;
      margin: 0 15px;
      font-size: 3rem;

      &:hover {
        color: $color-secondary;
      }
    }
  }
}
